div#map.home-map { 
	margin-top: 4%;
	margin-bottom: 0px;
	margin-left: -320px;
	border: none;
	height: 100%;
	width: 100%;
}


.slider {
	clear:both;
	position: absolute;
	background: blue;
	height: 80%;
	width:25%;
	opacity: 0.6;
	margin-left: 5%;
	margin-top: 5%;
}

button {
	position: absolute;
	margin-left: 5%;
	margin-top: 10px;
}

