div#map.home-map { 
	margin-top: 4%;
	margin-bottom: 0px;
	left: 0px;
	border: none;
	height: 100%;
	width: 100%;
}


.slider {
	clear:both;
	position: absolute;
	background-color: rgba(134, 200, 242, 0.6);  
	width:25%;
	height: 80%;
	overflow: auto;
	margin-left: 5%;
	margin-top: 5%;
	border-radius: 5%;
	padding-bottom: 10px;
}

input {
	position: absolute;
	margin-left: 5%;
	margin-top: 10px;
}

.leaflet-popup-content {
	text-align: center;
	font-family: Century Gothic;
  font-size:36px;
  line-height:24px;
  background: #C3E5FB;
  color: gray;
  border-radius: 5%;
  box-shadow: 3px 3px 0px 6px gray;
}

.leaflet-popup-content-wrapper {
	border-radius: 5%;
}

ul {
	list-style-type: none;
}

li {
	opacity: 1;
	padding-right: 20px;
	width: auto;
	height: auto;
}

/*.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
*/