body {
	background-color: #f5fffa;
}

.whole-body {
	width: 1100px;
	margin: 0 auto;
}
.left-body {
	width: 500px;
	padding-left: 75px;
	/*padding-right: 10px;*/
	position: relative;
	float: left;
}

.reviews {
	list-style-type: none;
	font-family: Ubuntu;
	font-size: 15px;
	border: 10px 10px 10px 10px;
}

#map.review-map {
	position: relative;
	/*right: 500px;*/
	height:500px;
	width: 350px;
	border: 1px solid black;
}

/*.review-map {
	max-height: 500px;
	max-width: 350px;
	margin-top: 150px;
	margin-bottom: 100px;
	margin-left: -50px;
	border: 2px solid black;
	margin-left: 500px;
}*/


#review-input {
	/*background: yellow;*/
	width: 300px;
	padding: 20px;
}

.reviews-signed-in {
	list-style-type: none;
	font-family: Ubuntu;
	font-size: 15px;
	width:400px;
	height: 300px;
	padding: 20px;
	/*box-sizing: border-box;*/
}

.wrap {
    -webkit-border-radius: 4px;
    /*-moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;*/
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    width: 300px;
    background: #EBEBEB;
    border: 1px solid #CCC;
    margin: 3px auto;
    position: relative;
    padding: 10px 10px 10px;
}

.reviews-guest {
	list-style-type: none;
	font-family: Ubuntu;
	font-size: 20px;
	width:500px;
	height: 300px;
	padding: 20px;
	box-sizing: border-box;
}


.left-body h3 {
	font-family: Ubuntu;
}


.right-body {
	width: 500px;
	float: right;
	padding: 20px 20px 20px 0px;
}

.nearby {
	float: right;
	padding: 20px;
}

.comment-box {
	border: 1px solid black;
}
