

.show-page {
	background: #E7FDFF;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.whole-body {
	width: 1100px;
	margin: 0 auto;
}
.left-body {
	width: 350px;
	padding-left: 50px;
	padding-right: 10px;
	margin-top: 30px;
	/*position: relative;*/
	float: left;
}

.reviews {
	list-style-type: none;
	font-size: 20px;
	border: 10px 10px 10px 10px;
	color: black;
}

#map.review-map {
	position: relative;
	/*right: 500px;*/
	height:500px;
	width: 400px;
	border: 1px solid black;
}


#review-input {
	width: 300px;
	padding: 10px;
}

.reviews-comments {
	list-style-type: none;
	font-size: 15px;
	width:400px;
	height: 300px;
	padding: 20px;
	/*box-sizing: border-box;*/
}


.wrap {
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    width: 300px;
    background: white;
    border: 1px solid #CCC;
    margin: 3px auto;
    position: relative;
    padding: 8px;
  
}

.wrap p {
	font-size: 20px;
	color: black;
}


.left-body h3 {
}


.right-body {
	width: 500px;
	float: right;
	padding: 20px 20px 20px 0px;
}

.nearby {
	padding: 15px;
	margin-left: 100px;
}

.comment-box {
	border: 1px solid gray;
	background: #029eac;
	padding-bottom: 30px;
	width:400px;
	height:600px;
	overflow:auto;
	padding:5px;"
}

p {
	font-size: 12px;
}

.location-address {
	margin-left: 100px;
	font-size: 20px;
	color: black;
}

.reviews-rating {
	font-size: 18px;
}

.text_field {
	height: 30px;
	width: 200px;
	-webkit-box-sizing: border-box;
	margin-top: .5em;
	margin-bottom: .5em;
}

.submit {
	margin-top: .3em;
}

.reviews-h2 {
	color: white;
}