.login {
	float: right;
}

#user_nav {
	z-index: 6;
	background: #029eac;
/* 	font-family: Ubuntu; */
	font-size: 20px;
	padding: .7em;
}

.left_nav {
	padding-right: .5em;
}

#user_nav a:link {
	text-decoration: none;
}

#user_nav a:visited {
	text-decoration: none;
}
<<<<<<< HEAD
=======

>>>>>>> 30ae4ea77208f0b2b446bd188a329d276e543314
