.login {
	float: right;
}

#user_nav {
	z-index: 6;
	background: #029eac;
/* 	font-family: Ubuntu; */
	font-size: 20px;
	padding: .7em;
	color: white;
}

.left_nav {
	padding-right: .5em;
}

#user_nav a:link {
	text-decoration: none;
}

#user_nav a:visited {
	text-decoration: none;
	color: white;
}

#user_nav a:hover {
	text-decoration: underline;
}