<h1>Home Page - locations#home</h1>

<div id="user_nav">
  <% if current_user %>
  Welcome, <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
  <% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>
  <h2><%= link_to "View Map", "/map" %></h2>
</div>
