<div class="home-page">

<div class="home-content">
  <h2> Welcome to HoneyBuckets</h2>
<p> The world's most high tech bathroom rating system in the world</p>

<div class=home-form>
<%= form_tag map_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search], :class => "field" %>
    <%= submit_tag "Search Buckets", :name => nil, :class => "fs" %>
  </p>
</div>
<% end %>
</div>


<div class="home-bottom">
    <div class="mission-container">
      <h3>Get to know our Application</h3>
      <p>Here at <strong>HoneyBuckets</strong> we believe that all bathrooms are not created equal. We aim to make the world a better place through bathroom analysis technology. We invite you to join the  revlolution, contribute, and discover the most luxurious bathrooms</p>
    </div>
    <div class="twitter-container">
      <h4>What people are saying about HoneyBuckets</h4>
      <ul>
        <% @honey_embed.each do |embed| %>
          <li><%= raw(embed.html) %></li>
        <% end %>
      </ul>
    </div>
</div>
