<% if @search %>
  <h2>Honeybuckets near <span id="search"><%= @search %></span></h2>
<% end %>

<div id="map"></div>

<script type="text/javascript">
  var search = $("#search").text();
  var page = "map";
</script>