<% if @search %>
  <h2>Honeybuckets near <span id="search"><%= @search %></span></h2>
<% end %>


<div id="map" class="home-map"></div>
	<button><img src="honeycomb.png"></button>
	<div class="slider"></div>
</div>
<%= javascript_include_tag "map" %>


<script>
$( "button" ).click(function() {
  $( ".slider" ).slideToggle( "slow");
});
</script>
<script type="text/javascript">
  var search = $("#search").text();
  var page = "map";
  initialize();
</script>
