<h1>location#map</h1>

<div id="map"></div>

<script type="text/javascript">
  L.mapbox.accessToken = 'pk.eyJ1IjoiamFja3ZjdXJ0cyIsImEiOiJkOEw2U1JnIn0.aeu27bx-JO85y318dm5tSw';
  var map = L.mapbox.map('map', 'jackvcurts.l24gabk5')
    .setView([38.89, -77.03], 17);
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
  var geojson = {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-77.03, 38.89]
    },
    properties: {
      title: "Test place",
      description: "123 Fake Street",
      'marker-color': '#00607d',
      'marker-symbol': 'circle',
      'marker-size': 'medium'
    }
  };

L.mapbox.featureLayer(geojson).addTo(map);

</script>