<% if @search %>
  <h2>Honeybuckets near <span id="search"><%= @search %></span></h2>
<% end %>


<div id="map" class="home-map"></div>
	
  <input TYPE="image" SRC="/assets/honeycomb2.png" ALT="img"></INPUT>
	<div class="clearfix slider">
		
		<ul>
      <% @honey_embed.each do |embed| %>
        <li><%= raw(embed.html) %></li>
      <% end %>
    </ul>

	</div>
</div>

<script>
$( "input" ).click(function() {
  $( ".slider" ).slideToggle( "slow");
});
</script>
<script type="text/javascript">
  var search = $("#search").text();
  var page = "map";
  initialize();
</script>
