<div id="map" class="home-map"></div>
	<input type="image" src="http://i.imgur.com/2DCVLlz.png" alt="img" id="map-button"></INPUT>
	<div class="clearfix slider">
		<ul>
      <% @honey_embed.each do |embed| %>
        <li><%= raw(embed.html) %></li>
      <% end %>
    </ul>
	</div>
  <% if @search %>
     <span id="search"><%= @search %></span>
  <% end %>


<script>
$( "input" ).click(function() {
  $( ".slider" ).slideToggle( "slow");
});
</script>
<script type="text/javascript">
  var search = $("#search").text();
  var page = "map";
  initialize();
</script>
