<%= javascript_include_tag "location_new" %>
<div id="map"></div>

<h1>location#new</h1>

<div>
<input type="text" id="location_name">
<button id="location_submit">Submit</button>

</div>

<script type="text/javascript">
  var page = "new";
  initialize();
</script>